<nav class="red darken-4">
    <div class="nav-wrapper">

        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="index.jsp">Menu</a></li>

            <li><a href="#">Minhas locacoes</a></li>
            <li><a href="listarLocadoras">Alugar</a></li>


            <li><a href="logout">Logout</a></li>


            <li><a href="listarLocadoras">Locadoras</a></li>
            <li><a href="login">Login</a></li>

        </ul>
    </div>
</nav>

